<?php

define('ALG_BASE_URL', 'http://algoritmaru.localhost/');

define('ALG_DB_HOST', 'localhost');
define('ALG_DB_USER', 'admin');
define('ALG_DB_PASS', '');
define('ALG_DB_NAME', 'algoritmaru');

define('ALG_ENCRYPTION_KEY', 'SomeEncryptionKey');

define('ALG_LOG_URL', 'http://logaritmaru.localhost');
define('ALG_LOG_SECRET', 'CodenameChicago');
